.table .idColomn {
  word-wrap: break-word;
  max-width: 30px;
  width:30px;
}
.table .amountColomn {
  word-wrap: break-word;
  max-width: 130px;
  width:130px;
}
table.table td, table.table th {
  vertical-align: middle;
}
